<div class="grid grid-cols-12 relative">
    <div class="col-span-8 bg-violet-100 w-full h-screen">
        <div class="flex flex-col justify-center items-center h-full mr-16">
            <form action="" class="w-[400px] flex flex-col gap-8">
                <legend class="font-bold">Bienvenido</legend>
                <label for="" class="flex flex-col gap-2">
                    Usuario:
                    <input type="text" placeholder="" class="border border-primary-violet rounded-4xl p-1">
                </label>
                <label for="" class="flex flex-col gap-2">
                    Contraseña:
                    <input type="text" placeholder="" class="border border-primary-violet rounded-4xl p-1">
                </label>
                <button class="bg-primary-violet text-white rounded-4xl p-2 mt-4">Iniciar Sesión</button>
                <a href="#" class="underline">No tengo una cuenta</a>
            </form>
        </div>
    </div>
    <div class="col-span-4 bg-primary-orange"></div>
    <img src="menoss.svg" alt="logo" class="absolute right-1/6 top-1/4">
    <div class="absolute bottom-0">
        <img src="Rectangle1.svg" alt="illus1">
        <img src="Rectangle2.svg" alt="illus2" class="absolute bottom-0">
    </div>
</div>
