<div class="flex">
    <aside class="w-[280px] bg-gray-bg h-screen px-[36px] py-[32px] flex flex-col justify-between">
        <div>
            <div class="text-white flex items-center gap-2">
                <img src="menoss.svg" alt="logo" width="80px">
                <span class="text-2xl font-bold">MENOSS</span>
            </div>
            <nav class="text-gray-light pt-8 flex flex-col gap-4">
                <a routerLink="/dashboard" class="block mb-2"><i class="fa-solid fa-house"></i> <span class="pl-4">Inicio</span></a>
                <a routerLink="/proveedores" class="block mb-2"><i class="fa-solid fa-bag-shopping"></i><span class="pl-4">Proveedores</span></a>
                <a routerLink="/pedidos" class="block mb-2"><i class="fa-solid fa-folder-tree"></i><span class="pl-4">Pedidos</span></a>
                <a routerLink="/productos" class="block mb-2"><i class="fa-solid fa-box"></i><span class="pl-4">Productos / Servicios</span></a>
                <a routerLink="/usuarios" class="block mb-2"><i class="fa-solid fa-users"></i><span class="pl-4">Usuarios y Roles</span></a>
            </nav>
        </div>
        <button class="bg-primary-violet text-white w-full h-[56px] rounded-sm"><i class="fa-solid fa-right-from-bracket"></i><span class="pl-4">Cerrar Sesión</span></button>
    </aside>

    <main class="flex-1 p-6">
        <router-outlet />
    </main>
</div>