<div class="flex gap-4 shadow p-4 rounded-lg border border-primary-violet/5 bg-gray-violet-light">
    <div class="w-[60px] h-full rounded-lg overflow-hidden">
        <img src="https://www.cocacolaep.com/assets/legacy-assets/Uploads/resources/Coca-Cola-1210.jpg" alt="logo-proveedor">
    </div>
    <div class="text-primary-violet">
        <div class="text-primary-violet">
            <p class="text-xl font-semibold">COCA COLA</p>
            <p class="font-bold pb-3">Cod: 123432</p>
        </div>
        <div class="font-light">
            <p>RUC: 2014223049232</p>
            <p>Av aviacion 2009</p>
        </div>
        <div class="pt-4">
            <a routerLink="/proveedores/detalle/123" class="flex justify-center gap-2 items-center bg-primary-orange px-2 py-1 rounded-md text-gray-violet-light shadow">Ver Detalle <i class="fa-solid fa-arrow-right"></i></a>
        </div>
    </div>
</div>