<div class="h-full">
    <p class="breadcrumb pb-8">Dashboard > Productos > Listado</p>
  
    <div class="flex flex-col gap-6 justify-between w-full pb-8 mb-8 border-b-2 border-primary-violet/5">
      <h1 class="text-4xl text-primary-violet font-semibold">MIS PRODUCTOS</h1>
      <div class="flex justify-between">
        <input type="text" placeholder="Buscar Producto"
          class="text-primary-violet placeholder:text-primary-violet/20 shadow px-4 py-2 min-w-[400px] rounded-md border border-primary-violet/10 outline-0">
      </div>
    </div>
  
    <div class="flex flex-col h-full">
      <div class="grid grid-cols-4 gap-4">
<!-- Tarjeta 1 -->
<div>
    <div class="flex gap-4 shadow p-4 rounded-lg border border-primary-violet/5 bg-gray-violet-light">
        <div class="w-[60px] h-full rounded-lg overflow-hidden">
            <img src="https://www.cocacolaep.com/assets/legacy-assets/Uploads/resources/Coca-Cola-1210.jpg"
                alt="logo-producto">
        </div>
        <div class="text-primary-violet">
            <p class="text-xl font-semibold">COCA COLA</p>
            <p class="font-bold pb-3">Cod: 000020</p>
            <div class="font-light">
                <p>Stock: 10</p>
            </div>
            <div class="pt-4">
                <a routerLink="/productos/detalle/123"
                    class="flex justify-center gap-2 items-center bg-primary-orange px-2 py-1 rounded-md text-gray-violet-light shadow">
                    Ver Detalle <i class="fa-solid fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>

<!-- Tarjeta 2 -->
<div>
    <div class="flex gap-4 shadow p-4 rounded-lg border border-primary-violet/5 bg-gray-violet-light">
        <div class="w-[60px] h-full rounded-lg overflow-hidden">
            <img src="https://mma.prnewswire.com/media/2351693/Pepsi_Logo.jpg?w=200" alt="logo-producto">
        </div>
        <div class="text-primary-violet">
            <p class="text-xl font-semibold">PEPSI COLA</p>
            <p class="font-bold pb-3">Cod: 000021</p>
            <div class="font-light">
                <p>Stock: 10</p>
            </div>
            <div class="pt-4">
                <a routerLink="/productos/detalle/123"
                    class="flex justify-center gap-2 items-center bg-primary-orange px-2 py-1 rounded-md text-gray-violet-light shadow">
                    Ver Detalle <i class="fa-solid fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>

<!-- Tarjeta 3 -->
<div>
    <div class="flex gap-4 shadow p-4 rounded-lg border border-primary-violet/5 bg-gray-violet-light">
        <div class="w-[60px] h-full rounded-lg overflow-hidden">
            <img src="https://scontent.flim24-1.fna.fbcdn.net/v/t39.30808-6/271648815_108720351708567_3473631671237367813_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=9IelTxn1eJQQ7kNvwEu5rmA&_nc_oc=AdldBXCcE91HuKWsTdwORgGBIo41z9ZVOqgvH6_cJDl--ZnAH650MslQhaJczKQOx8Y&_nc_zt=23&_nc_ht=scontent.flim24-1.fna&_nc_gid=Oq0q0osBDdXefw_tKwhu2A&oh=00_AfEVeO6hvj2oQdtHGINKUHPcjU55JtTAc2vkFDNubwF9PQ&oe=681B5704"
                alt="logo-producto">
        </div>
        <div class="text-primary-violet">
            <p class="text-xl font-semibold">CHEESE TRIS</p>
            <p class="font-bold pb-3">Cod: 000030</p>
            <div class="font-light">
                <p>Stock: 10</p>
            </div>
            <div class="pt-4">
                <a routerLink="/productos/detalle/123"
                    class="flex justify-center gap-2 items-center bg-primary-orange px-2 py-1 rounded-md text-gray-violet-light shadow">
                    Ver Detalle <i class="fa-solid fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>

<!-- Tarjeta 4 -->
<div>
    <div class="flex gap-4 shadow p-4 rounded-lg border border-primary-violet/5 bg-gray-violet-light">
        <div class="w-[60px] h-full rounded-lg overflow-hidden">
            <img src="https://static.vecteezy.com/system/resources/previews/008/855/004/non_2x/minsk-belarus-june-2022-logo-lay-s-classic-free-photo.jpg"
                alt="logo-producto">
        </div>
        <div class="text-primary-violet">
            <p class="text-xl font-semibold">PAPAS LAYS</p>
            <p class="font-bold pb-3">Cod: 000031</p>
            <div class="font-light">
                <p>Stock: 10</p>
            </div>
            <div class="pt-4">
                <a routerLink="/productos/detalle/123"
                    class="flex justify-center gap-2 items-center bg-primary-orange px-2 py-1 rounded-md text-gray-violet-light shadow">
                    Ver Detalle <i class="fa-solid fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>

<!-- Tarjeta 5 -->
<div>
    <div class="flex gap-4 shadow p-4 rounded-lg border border-primary-violet/5 bg-gray-violet-light">
        <div class="w-[60px] h-full rounded-lg overflow-hidden">
            <img src="https://scontent.flim24-1.fna.fbcdn.net/v/t39.30808-6/275612463_115232397766419_4111507133832967210_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=aXpXJ7psPp4Q7kNvwGGFgZu&_nc_oc=AdmMovdyoG_kZ7acsuw-6d_JsrFXweDTImKleFA73rCgkldyG3T8Zx20SpKlK1R2-pM&_nc_zt=23&_nc_ht=scontent.flim24-1.fna&_nc_gid=qb7n3f2jYat7XVwKU-Lr1w&oh=00_AfEMsxL1Tnaob2enu7u50X-21Cs2zlS2XYAk_VqaaeG17w&oe=681B372E"
                alt="logo-producto">
        </div>
        <div class="text-primary-violet">
            <div class="text-primary-violet">
                <p class="text-xl font-semibold">GALLETA SODA</p>
                <p class="font-bold pb-3">Cod: 000010</p>
            </div>
            <div class="font-light">
                <p>Stock: 10</p>
            </div>
            <div class="pt-4">
                <a routerLink="/productos/detalle/123"
                    class="flex justify-center gap-2 items-center bg-primary-orange px-2 py-1 rounded-md text-gray-violet-light shadow">
                    Ver Detalle <i class="fa-solid fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>

<!-- Tarjeta 6 -->
<div>
    <div class="flex gap-4 shadow p-4 rounded-lg border border-primary-violet/5 bg-gray-violet-light">
        <div class="w-[60px] h-full rounded-lg overflow-hidden">
            <img src="https://pbs.twimg.com/profile_images/378800000754923758/602e576c656530aed6c6fc1ad4fb330e_400x400.jpeg"
                alt="logo-producto">
        </div>
        <div class="text-primary-violet">
            <div class="text-primary-violet">
                <p class="text-xl font-semibold">GALLEGAS MARGARITAS</p>
                <p class="font-bold pb-3">Cod: 000011</p>
            </div>
            <div class="font-light">
                <p>Stock: 10</p>
            </div>
            <div class="pt-4">
                <a routerLink="/productos/detalle/123"
                    class="flex justify-center gap-2 items-center bg-primary-orange px-2 py-1 rounded-md text-gray-violet-light shadow">
                    Ver Detalle <i class="fa-solid fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>

<!-- Tarjeta 7 -->
<div>
    <div class="flex gap-4 shadow p-4 rounded-lg border border-primary-violet/5 bg-gray-violet-light">
        <div class="w-[60px] h-full rounded-lg overflow-hidden">
            <img src="https://scontent.flim24-1.fna.fbcdn.net/v/t1.6435-9/69930712_1173612356160264_8146969484909871104_n.png?_nc_cat=111&ccb=1-7&_nc_sid=a5f93a&_nc_ohc=drhm2R0-8sQQ7kNvwHHNHkH&_nc_oc=AdlwB9o7kTw1cMDpyInpaf-LAU--H4ZuxFrcQoTwfuGBP9v0-XuVc4tTcyzdLnq4k1k&_nc_zt=23&_nc_ht=scontent.flim24-1.fna&_nc_gid=V2okpI3LdXYiSiGacMoHZQ&oh=00_AfFV1_TNu_CIZTQ_GOYPClVeMRI7LiJSHYiKfUT7lT8yUA&oe=683CEB59"
                alt="logo-producto">
        </div>
        <div class="text-primary-violet">
            <div class="text-primary-violet">
                <p class="text-xl font-semibold">VINO QUEIROLO</p>
                <p class="font-bold pb-3">Cod: 000040</p>
            </div>
            <div class="font-light">
                <p>Stock: 10</p>
            </div>
            <div class="pt-4">
                <a routerLink="/productos/detalle/123"
                    class="flex justify-center gap-2 items-center bg-primary-orange px-2 py-1 rounded-md text-gray-violet-light shadow">
                    Ver Detalle <i class="fa-solid fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>

<!-- Tarjeta 8 -->
<div>
    <div class="flex gap-4 shadow p-4 rounded-lg border border-primary-violet/5 bg-gray-violet-light">
        <div class="w-[60px] h-full rounded-lg overflow-hidden">
            <img src="https://pressreleasecom.wordpress.com/wp-content/uploads/2017/07/pressrelease-8c2aa-cerveza-cusquec3b1a.jpg"
                alt="logo-producto">
        </div>
        <div class="text-primary-violet">
            <div class="text-primary-violet">
                <p class="text-xl font-semibold">CERVEZA CUSQUEÑA</p>
                <p class="font-bold pb-3">Cod: 000045</p>
            </div>
            <div class="font-light">
                <p>Stock: 10</p>
            </div>
            <div class="pt-4">
                <a routerLink="/productos/detalle/123"
                    class="flex justify-center gap-2 items-center bg-primary-orange px-2 py-1 rounded-md text-gray-violet-light shadow">
                    Ver Detalle <i class="fa-solid fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>
      <div class="pt-16 mx-auto">
        <app-paginator></app-paginator>
      </div>
    </div>
  </div>
  